
p{
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
    color: #263238

}
button{
    color: blue
}

.parallax-container {
      width: 1420px; height: 500px;
    }
    
    .carousel{
        width: 1349px; height: 200px;
    }
    
img{
    width: 250px; height: 150px;
}




/*body{
   
   
    /*background-image: url("/img/ITGAM.png"), no-repeat,
  width=100%,
  text-align= center
  }*/