
p{
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
    color: #263238

}

.parallax-container {
      width: 1349px; height: 500px;
    }
    
    .carousel{
        width: 1000px; height: 180px;
    }
    




/*body{
   
   
    /*background-image: url("/img/ITGAM.png"), no-repeat,
  width=100%,
  text-align= center
  }*/